<div class="mt-1">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-1">
        <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>

        <button type="submit" class="btn btn-sm btn-primary float-right" [disabled]="!form.valid">
            <i class="far fa-save"></i>
            Save</button>

    </form>
</div>

<div class="table-responsive-md mt-1">

    <table class="table table-sm">

        <tbody>
            <tr *ngFor="let n of notes;">


                <td>
                    {{n.description}}
                </td>


            </tr>

        </tbody>
    </table>

</div>

