<div class="mt-1 mb-2">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-1">
        <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>

        <button type="submit" class="btn btn-sm btn-primary float-right" [disabled]="!form.valid">
            <i class="far fa-save"></i>
            Save</button>

    </form>
</div>



<ul class="list-unstyled mt-2">
  <li class="media" *ngFor="let n of notes;">
    
    <div class="media-body text-left">
      <h6 class="mt-0 mb-1">{{n?.firstName + ' ' + n?.lastName}} on {{n?.createdDate }} </h6>
      {{n.description}}
    </div>
    <hr/>
  </li>
  
</ul>