<div class="container-fluid">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-4">
          <h5 class="mt-2">Create New Contact</h5>
      </div>
  
      <div class="col-sm-6">
  
          
      </div>
      <div class="col-1"></div>
    </div>
  
    <div class="row">
      <div class="col-1"></div>
      <div class="col-lg-10">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
          
          <button type="submit" class="btn btn-primary float-right" [disabled]="!form.valid">Save</button>
           
          <a class="nav-link float-right mr-2" [routerLink]="'/contacts/list'">Cancel</a>


        </form>
      </div>
      <div class="col-1"></div>
    </div>
  </div>