<div class="row">

    <div class="col-md-3 col-sm-3">
        <h5 class="mt-2">Notes</h5>
    </div>


</div>


<div class="row">

    <div class="col-md-12">

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>

            <button type="submit" class="btn btn-primary float-right" [disabled]="!form.valid">Save</button>

        </form>

    </div>



</div>

<div class="row">

    <div class="col-md-12">

        <blockquote class="blockquote" *ngFor="let n of notes;">
            <p class="mb-0">{{n.description}}</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite>
            </footer>
        </blockquote>

    </div>



</div>