<div class="container-fluid">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-4">
          <h5 class="mt-2">View Lead | {{lead.firstName + ' ' + lead.lastName}}</h5>
      </div>
  
      <div class="col-sm-6">
        
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary">Tasks</button>
            <button type="button" class="btn btn-secondary">Activities</button>
            <button type="button" class="btn btn-secondary">Right</button>
        </div>
          
      </div>
      <div class="col-1"></div>
    </div>
  
    <div class="row">
      <div class="col-1"></div>
      <div class="col-lg-10">
        
      </div>
      <div class="col-1"></div>
    </div>
  </div>