<div class="row">

    <div class="col-md-12">
        <h5 class="mt-1 text-primary">URLs</h5>
    </div>

</div>

<div class="row">

    <div class="col-md-12">

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>

            <button type="submit" class="btn btn-sm btn-primary float-right" [disabled]="!form.valid">
                <i class="far fa-save"></i> 
                Save</button>

        </form>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive-md mt-1">
            <table class="table table-sm">

                <tbody>
                    <tr *ngFor="let e of links;">


                        <td>
                            {{e.value}}
                        </td>


                    </tr>

                </tbody>
            </table>

        </div>

    </div>
</div>