<div class="container-fluid">

   
    <div class="row">

        <div class="col-1"></div>
        <div class="col-md-10">

            <div class="p-3 bg-white rounded shadow-lg">

                <div class="d-flex bd-highlight border-bottom border-gray pb-2 mb-0 d-block  mt-1">
                    <div class="p-2 flex-fill bd-highlight"><h5 class="text-primary">Contacts</h5></div>
                    <div class="p-2 flex-fill bd-highlight"> 
                        <a routerLink="/contacts/create" class="btn btn-sm btn-outline-success ">
                            <i class="fas fa-plus"></i> 
                            New
                        </a>
        
                        <a routerLink="/contacts/import" class="btn btn-sm btn-outline-success ml-2">
                            <i class="fas fa-upload"></i> 
                        Import 
                        </a>
                    </div>
                    <div class="p-2 flex-fill bd-highlight text-right small"><a href="#"><i class="fas fa-sync"></i> Refresh</a></div>
                </div>


                <div class="media text-muted pt-3" *ngFor="let contact of contactPage?.content; let i = index;">
                    <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32"
                        xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                        role="img" aria-label="Placeholder: 32x32">
                        <title>Placeholder</title>
                        <g>
                            <rect width="100%" height="100%" fill="#007bff" />
                            <text x="50%" y="50%" fill="#fff"
                                dy=".3em">{{contact.firstName | titlecase| slice:0:1}}
                            </text>
                        </g>
                    </svg>

                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <strong class="text-gray-dark">
                                <a routerLink="/contacts/{{contact['id']}}">
                                    {{contact.firstName}} {{contact.lastName}}
                                </a>
                            </strong>

                            <a class="text-danger" (click)='delete(contact)'>Delete</a>
                        </div>
                        <div class="d-block">
                            <span>@username</span> |
                            <span>@username</span>
                        </div>
                    </div>

                </div>

                <div class="d-flex justify-content-between p-2">


                    <ngb-pagination [collectionSize]="collectionSize" [(page)]="pageNo" [maxSize]="5" [rotate]="true"
                        class="pagination pagination-sm small text-success" [pageSize]="pageSize" [boundaryLinks]="true"
                        (pageChange)="loadNextPage($event)">
                    </ngb-pagination>

                    <div>
                        <small># of rows: </small>
                        <select class="custom-select small custom-select-sm" style="width: auto" [(ngModel)]="pageSize"
                            (change)="listLeadElement($event.target.value)">
                            <option [value]="10">10</option>
                            <option [value]="20">20</option>
                            <option [value]="30">30</option>
                        </select>

                    </div>
                </div>

            </div>
        </div>

        <div class="col-1"></div>
    </div>




</div>