

<div class="container-fluid">
  <div class="row">
    
    <div class="col-md-9">

      <!-- Contact form START -->
      <div class="row">
      
        <div class="col-md-12">
            <h5 class="mt-1">View Contact</h5>
        </div>
        
      </div>
      
      <div class="row">
      
        <div class="col-md-12">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <formly-form [form]="form" [fields]="fields" [model]="contact"></formly-form>
            
            <button type="submit" class="btn btn-primary float-right" [disabled]="!form.valid">Save</button>
            <button type="button" class="btn btn-outline-primary float-right mr-2">Cancel</button>
          </form>
        </div>
        
      </div>
      <!-- Contact form END -->


      <app-activity [related]="'Contact'" [relatedId]="id"></app-activity>
      <app-task [related]="'Contact'" [relatedId]="id"></app-task>
      <app-note [related]="'Contact'" [relatedId]="id"></app-note>


    </div>


    <div class="col-md-3 bg-light sidebar">

      <app-emailaddress [related]="'Contact'" [relatedId]="id"></app-emailaddress>

      <app-link [related]="'Contact'" [relatedId]="id"></app-link>

    </div>
    
  </div>
</div>  



  