<div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-4">
          <h5 class="mt-2">View Contact</h5>
      </div>
  
      <div class="col-md-6">
  
          
      </div>
      <div class="col-md-1"></div>
    </div>
  
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <formly-form [form]="form" [fields]="fields" [model]="contact"></formly-form>
          
          <button type="submit" class="btn btn-primary float-right" [disabled]="!form.valid">Save</button>
          <button type="button" class="btn btn-outline-primary float-right mr-2">Cancel</button>
        </form>
      </div>
      <div class="col-md-1"></div>
    </div>

  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-4">
          <h5 class="mt-2">Activities</h5>
      </div>
  
      <div class="col-md-6">
  
          
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink>Meetings</a>
            <ng-template ngbNavContent>
               <!--Activity-->

                <app-activity [related]="'Contact'" [relatedId]="id"></app-activity>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Tasks</a>
            <ng-template ngbNavContent>
              <p>Tasks - Similar to Activity</p>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <a ngbNavLink>Activity Log</a>
            <ng-template ngbNavContent>
              <p>Activity Log</p>
            </ng-template>
          </li>
          <li [ngbNavItem]="4">
            <a ngbNavLink>Notes</a>
            <ng-template ngbNavContent>
              <!--Note-->
              <app-note [related]="'Contact'" [relatedId]="id"></app-note>
            </ng-template>
          </li>
        </ul>
        
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>



 

  