<div class="container-fluid">

    <div class="row">
  
      <!-- column 1 -->
      <div class="col-md-1">
        
      </div>
  
      <!--column 2-->
      <div class="col-md-8">
  
        <div class="row">
  
          <div class="col-md-12">
            <h5 class="text-primary">Price Book Details</h5>
          </div>
        </div>
  
        <div class="row">
          
            <div class="col-md-12">
              <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <formly-form [form]="form" [fields]="fields" [model]="priceBook"></formly-form>
  
                <button type="submit" class="btn btn-sm btn-primary float-right" [disabled]="!form.valid">
                  <i class="far fa-save"></i>
                  Save</button>
                <a type="button" class="btn btn-sm btn-outline-primary float-right mr-1" [routerLink]="['/pricebooks']">
                  <i class="fas fa-chevron-circle-left"></i>
                  Cancel</a>
  
                <button type="button" class="btn btn-sm btn-outline-primary float-right mr-1" (click)="copy()">
                  <i class="far fa-copy"></i>
                    Copy </button>  
  
              </form>
            </div>
  
        </div>
  
        <div class="row">
          <div class="col-md-12 mt-1">
            <h5 class="text-primary">Activities</h5>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-12">
            <ul ngbNav #nav="ngbNav" class="nav-pills">
              <li ngbNavItem>
                <a ngbNavLink>Meetings</a>
                <ng-template ngbNavContent>
  
                  <app-activity [related]="'PriceBook'" [relatedId]="id"></app-activity>
  
                </ng-template>
              </li>
              
              <li ngbNavItem>
                <a ngbNavLink>TODOs</a>
                <ng-template ngbNavContent>
  
                  <app-activity [related]="'PriceBook'" [relatedId]="id"></app-activity>
  
                </ng-template>
              </li>
              <li ngbNavItem>
                <a ngbNavLink>Notes</a>
                <ng-template ngbNavContent>
                  <!--
                  <app-note [notes]="contact?.notes" (addNote)="addNote($event)"></app-note>
                  -->  
                </ng-template>
              </li>
            </ul>
            <div [ngbNavOutlet]="nav"></div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-12 mt-1">
            <h5 class="text-primary">Products</h5>
          </div>
        </div>
  
  
        <div class="row">
          <div class="col-md-12 mt-1">
            <h5 class="text-primary">Documents</h5>
          </div>
        </div>
  
        <!--
        <div class="row">
          <div class="col-md-12 mt-1">
            <h5 class="text-primary">Marketing Lists</h5>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-12 mt-1">
            <h5 class="text-primary">Campaigns</h5>
          </div>
        </div>
        -->
  
        <!--
        <div class="row">
          <div class="col-md-12 mt-1">
            <h5 class="text-primary">Text Messages</h5>
          </div>
        </div>
        -->
  
      </div>
  
      <!--column 3-->
      <div class="col-md-2 ">
  
        <!-- Stage , Probability and Piple go heare -->
  
        <!-- Lead details go here if convereted from lead -->
  
      </div>
  
      <!--column 4-->
      <div class="col-md-1">
        
      </div>
  
    </div>
  
  </div>
  
  