<div class="container-fluid">

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
            <h5 class="text-primary mt-2">Deals</h5>
        </div>

        <div class="col-sm-5"></div>
        <div class="col-sm-3">

            <a routerLink="/deals/create" class="btn btn-sm btn-outline-success ml-1 mt-2 ">
                <i class="fas fa-plus"></i> New</a>
            <!--    
            <a routerLink="/leads/import" class="btn btn-sm btn-outline-info ml-1 mt-2 ">
                <i class="fas fa-upload"></i> Import</a>
            -->
        </div>
        <div class="col-sm-1"></div>
    </div>
    
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="table-responsive-md">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <ng-container *ngFor="let f of fields; let i = index; trackBy: trackFn">
                                <th scope="col" *ngIf="f.checked">{{f.label}}</th>
                            </ng-container>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let deal of dealPage?.content; let i = index;">
                            <th scope="row"></th>
                            <ng-container *ngFor="let f of fields; let i = index;">
                                <td *ngIf="f.checked">
                                    <a routerLink="/deals/{{deal['id']}}">
                                        {{deal[f.name]}}
                                    </a>
                                </td>
                            </ng-container>

                            <td>
                                
                                <a class="text-danger" (click)='delete(deal)'>Delete</a>
                                
                            </td>

                        </tr>

                    </tbody>
                </table>

                
            </div>

            <div class="d-flex justify-content-between p-2">


                <ngb-pagination [collectionSize]="collectionSize" [(page)]="pageNo" [maxSize]="5" [rotate]="true"
                    class="pagination pagination-sm text-success"
                    [pageSize]="pageSize" [boundaryLinks]="true" (pageChange)="loadNextPage($event)">
                </ngb-pagination>

                <div>
                    <span># of rows: </span>
                    <select class="custom-select custom-select-sm" style="width: auto" [(ngModel)]="pageSize" (change)="listDealElement($event.target.value)">
                        <option [value]="10">10</option>
                        <option [value]="20">20</option>
                        <option [value]="30">30</option>
                    </select>

                </div>
            </div>


        </div>

        <div class="col-sm-1"></div>

    </div>
</div>