<div class="container-fluid">

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <h5 class="text-primary mt-2">Categories</h5>
        </div>

        <div class="col-md-5">

            <div class="input-group input-group-sm mb-3">
               
                <select class="form-control form-control-sm" style="max-width: 40%;" (change)="onSetSearchField($event.target.value)">
                    <option></option>
                    <ng-container *ngFor="let item of fields">
                        <option [value]="item.name" *ngIf="item.searchable">{{ item.label }}</option>
                    </ng-container>

                </select>

                <select class="form-control form-control-sm" style="max-width: 25%;" (change)="onSetOpField($event.target.value)">
                    
                    <option></option>
                    <option value="==" >Equals</option>
                    <option value="=re=" >Like</option>

                </select>

                <input type="text" class="form-control form-control-sm col-12" autocomplete="off" required [(ngModel)]="searchText"> 
                <div class="input-group-append">
                    <button class="btn btn-outline-primary btn-sm" id="dropdownForm1" (click)="doSearch()"><i class="fas fa-search"></i></button>
                </div>    
            </div>

        </div>

        <div class="col-md-3">
            <div class="float-right mb-3">    
                <a routerLink="/app/categories/create" class="btn btn-sm btn-outline-success ml-1">
                    <i class="fas fa-plus"></i> New</a>
                <a routerLink="/app/categories/import" class="btn btn-sm btn-outline-info ml-1">
                    <i class="fas fa-upload"></i> Import</a>
            </div>

        </div>

        <div class="col-md-1"></div>
        
    </div>


    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">

            <div class="table-responsive-md">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <ng-container *ngFor="let f of fields; let i = index; trackBy: trackFn">
                                <th scope="col" *ngIf="f.checked">{{f.label}}</th>
                            </ng-container>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let category of categoryPage?.content; let i = index;">
                            <th scope="row"></th>
                            <ng-container *ngFor="let f of fields; let i = index;">
                                <td *ngIf="f.checked">
                                    <a routerLink="/app/categories/{{category['Order']}}">
                                        {{category[f.name]}}
                                    </a>
                                </td>
                            </ng-container>

                            <td>
                                
                                <a class="text-danger" (click)='delete()'>Delete</a>
                                
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>

        </div>

        <div class="col-md-1"></div>

    </div>


    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">

            <ngb-pagination [collectionSize]="collectionSize" [(page)]="pageNo" [maxSize]="5" [rotate]="true"
                class="pagination pagination-sm text-success"
                [pageSize]="pageSize" [boundaryLinks]="true" (pageChange)="go2NextPage($event)">
            </ngb-pagination>

            
        </div>

         <div class="col-md-3">

            <div class="float-right">
                <span><small># of rows: </small></span>
                <select class="custom-select custom-select-sm" style="width: auto" [(ngModel)]="pageSize" 
                    (change)="doRefresh($event.target.value)">
                        <option [value]="10">10</option>
                        <option [value]="20">20</option>
                        <option [value]="30">30</option>
                </select>

            </div>

        </div>

        <div class="col-md-1"></div>

    </div>


</div>
