
<div class="container mt-4">
    
    <div class="row">
        <aside class="col-md-3"></aside>

        <aside class="col-md-6">
            <img >
        </aside>

        <aside class="col-md-3"></aside>

    </div>

    <div class="row">
        <aside class="col-md-3"></aside>

        <aside class="col-md-6">
            
            <div class="card">
                <article class="card-body">
                    <a routerLink="../signin" class="float-right btn btn-outline-primary btn-sm">Sign In</a>
                    <h4 class="card-title mb-4 mt-1">Sign up</h4>
                    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" method="post">

                        <div class="form-group">
                            <label>Company</label>
                            <input type="text" formControlName="company" class="form-control form-control-sm" 
                                [ngClass]="{ 'is-invalid': submitted && f.company.errors }" />
                            <div *ngIf="submitted && f.company.errors" class="invalid-feedback">
                                <div *ngIf="f.company.errors.required">Company is required</div>
                                
                            </div>
                        </div> 

                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" formControlName="firstName" class="form-control form-control-sm" 
                                [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                <div *ngIf="f.firstName.errors.required">First Name is required</div>
                                
                            </div>
                        </div> 

                         <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" formControlName="lastName" class="form-control form-control-sm" 
                                [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                                
                            </div>
                        </div> 


                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" formControlName="email" class="form-control form-control-sm" 
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                            </div>
                        </div> 
                        
                        

                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" formControlName="password" class="form-control form-control-sm" 
                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div> 

                        <div class="form-group">
                            <label>Country</label>
                            <input type="text" formControlName="country" class="form-control form-control-sm" 
                                [ngClass]="{ 'is-invalid': submitted && f.company.errors }" />
                            <div *ngIf="submitted && f.company.errors" class="invalid-feedback">
                                <div *ngIf="f.company.errors.required">Company is required</div>
                                
                            </div>
                        </div> 

                        <div class="form-group">
                            

                            <button type="submit" [disabled]='!signUpForm.valid' class="btn btn-primary btn-sm btn-block">Sign Up</button>
                        </div> 
                    </form>
                </article>
            </div> <!-- card.// -->

        </aside> <!-- col.// -->
        <aside class="col-md-3">
        
        </aside> <!-- col.// -->
        
    </div> <!-- row.// -->

</div>
<!--container end.//-->