<div class="row">

    <div class="col-md-12">
        <h5 class="mt-1 text-primary">Emails</h5>
    </div>

</div>
<div class="shadow p-3 mb-2 bg-white rounded">
    <div class="row">

        <div class="col-md-12">

            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <formly-form [form]="form" [fields]="fields" [model]="emails"></formly-form>

                <button type="submit" class="btn btn-sm btn-primary float-right" [disabled]="!form.valid">
                    <i class="far fa-save"></i>
                    Save</button>

            </form>
        </div>

    </div>
</div>
