<div class="shadow p-3 mb-2 bg-white rounded">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <h5 class="mt-2 text-primary">Box Settings</h5>
        
        </div>
        <div class="col-md-6 col-sm-6">
        
           
        </div>
    </div>

    <div class="row">
        
        <div class="col-md-12">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <formly-form [form]="form" [fields]="fields" [model]="boxSettings"></formly-form>

                <button type="submit" class="btn btn-sm btn-primary float-right" [disabled]="!form.valid">Save</button>
                
            </form>
        </div>
       
    </div>
</div>
